body {
    color: rgb(40, 100, 0);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(90, 190, 0);
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    color: rgb(90, 190, 0);
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    font-family: Arial, Helvetica, sans-serif;
    
}